body{
    font-family: 'Roboto' sans-serif;
    margin: 0; 
	text-align: center;

}
header{
	background-color :rgb(0, 0, 0);
    height: 150px;
}
.car{
	width: 15px;
}

.naveg{
	text-align: center;
}

.naveg a{
	color: rgb(0, 0, 0);
	text-decoration: none;
	font-weight: bold;
	background-color : white;
    border-radius: 50px;
    margin: 0.1rem;
    padding: 0.3rem 1rem;
}

.logo{
    border-radius: 50%;
    height: 98px;
    width: 98px;
    margin: 10px;

}

.formNove{

	display: flex;
}
.styleTarj{
	background-color: #fff;
	text-align: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.8);
    height: 400px;
    width: 400px;
    margin: 1rem auto;
    border-radius: 0.5rem;

  
}
.container-form{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 90px;
    margin: 90px;
}

.container-form h2{
    margin-bottom: 15px;
    font-size: 35px;
}

.container-form p{
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.container-form a{
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
}

.container-form form .campo, textarea{
    width: 100%;
    padding: 15px 10px;
    font-size: 15px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}
.container-form form textarea{
    max-width: 530px;
    min-width: 530px;
    min-height: 140px;
    max-height: 150px;
}

.container-form .btn-enviar{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: red;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;

}


.footer{
    background-color: rgb(0, 0, 0);
    padding: 3rem;
    color: #fff;
}

.footer section{
    float: right;
}

.footer p{
    margin: 0;
}

.footer a{
    transition: color 0.3s ease;
    color: #fff;
    text-decoration: none;
}

.footer a:hover{
    color: cornflowerblue;
}